* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: url("./img/background.png");
  z-index: -1;
}

main.game-board {
  width: 100%;
  height: 450px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background: linear-gradient(#87ceeb, #e0f6ff);
  border-bottom: 5px solid rgb(3, 179, 32);
}

main.game-board img.clouds {
  position: absolute;
  padding-top: 30px;
  width: 400px;

  animation: cloudsAnimation 15s infinite linear;
}

main.game-board img.pipe {
  position: absolute;
  bottom: 0;
  width: 40px;
  animation: pipeAnimation 1.5s infinite linear;
}

main.game-board img.mario {
  position: absolute;
  bottom: 0;
  width: 65px;
}

main.game-board img.jump {
  animation: jumpMario 600ms ease-out;
}

figure img.reset {
  top: 50%;
  left: 40%;
  position: absolute;
  border-radius: 10px;
  box-shadow: 10px 10px 20px -5px #000;
  cursor: pointer;
  display: none;
}

figure img.reset:hover {
  top: 49%;
  transition: all 0.2s ease-in-out;
}

div.border-top {
  display: flex;
  justify-content: center;
  border-top: 2px solid #000;
}

div.border-top img {
  margin-top: 2rem;
  width: 200px;
}

/*Criando Animações para as imagens*/

@keyframes pipeAnimation {
  from {
    right: -55px;
  }

  to {
    right: 100%;
  }
}

@keyframes jumpMario {
  0% {
    bottom: 0px;
  }

  40% {
    bottom: 60px;
  }

  50% {
    bottom: 75px;
  }

  90% {
    bottom: 60px;
  }

  100% {
    bottom: 0px;
  }
}

@keyframes cloudsAnimation {
  from {
    right: -400px;
  }

  to {
    right: 100%;
  }
}

/*Responsividade*/

@media only screen and (max-width: 700px) {
  main.game-board img.clouds {
    width: 250px;
  }

  figure img.reset {
    width: 150px;
    left: 35%;
  }
}
